/* ---------- Westcap ---------- */
/* Variables ------------ */
/* Colours */
/* Imports -------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none; }

input,
textarea,
select,
button {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
  width: 100%;
  max-width: 100%; }

input,
textarea,
button {
  border: 1px solid gray; }

textarea {
  max-width: 100%;
  resize: vertical; }

button {
  width: 100%;
  border-radius: 0;
  background-color: transparent; }

img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

table {
  table-layout: fixed;
  width: 100%; }

/* Mixins --------------- */
/* Responsive  */
/* Typography ----------- */
strong {
  font-weight: 700; }

em {
  font-style: italic; }

h1,
h2,
h3 {
  line-height: 1; }

h2,
h3 {
  color: #333;
  margin-bottom: 0.25em; }

h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); }
  @media (max-width: 640px) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 2.25em; }
  @media (max-width: 640px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.75em; }
  @media (max-width: 640px) {
    h3 {
      font-size: 1.25em; } }

/* Extensions ----------- */
/* Global Styling ------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

#main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 80px; }
  @media (max-width: 960px) {
    #main {
      padding-top: 50px; } }
  #main .section {
    width: 100%;
    padding: 40px;
    -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1); }
    @media (max-width: 640px) {
      #main .section {
        padding: 10px; } }
    #main .section > h2 {
      width: 80%;
      max-width: 1080px;
      margin: 0 auto 20px; }
      @media (max-width: 640px) {
        #main .section > h2 {
          width: 100%;
          margin: 10px auto 20px; } }
      #main .section > h2.mbo-1::before {
        content: '';
        background-image: url("../img/Westcap_MBO-I-short-237x142-1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px; }
        @media (max-width: 640px) {
          #main .section > h2.mbo-1::before {
            margin-top: -2px; } }
      #main .section > h2.mbo-2::before {
        content: '';
        background-image: url("../img/Westcap_MBO-II-short-237x142-1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px; }
        @media (max-width: 640px) {
          #main .section > h2.mbo-2::before {
            margin-top: -2px; } }
      #main .section > h2.mbo-3::before {
        content: '';
        background-image: url("../img/Westcap_MBO-III-short-237x142-1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px; }
        @media (max-width: 640px) {
          #main .section > h2.mbo-3::before {
            margin-top: -2px; } }

#footer {
  background: #222;
  color: #666;
  width: 100%; }
  #footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px 0;
    height: 100%; }
    @media (max-width: 960px) {
      #footer .container {
        width: 95%; } }
    @media (max-width: 640px) {
      #footer .container {
        width: 100%;
        padding: 10px; } }

/* Navigation ------------ */
#header {
  position: fixed;
  height: 80px;
  background: white;
  border-bottom: 1px solid #eee;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  @media (max-width: 960px) {
    #header {
      height: 50px; } }
  #header .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%; }
    @media (max-width: 960px) {
      #header .container {
        width: 100%;
        padding: 10px; } }
    #header .container .logo {
      height: 60px;
      width: auto; }
      @media (max-width: 960px) {
        #header .container .logo {
          height: 40px; } }
    @media (max-width: 960px) {
      #header .container nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        background: white; } }
    #header .container nav a {
      color: #666;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      padding: 10px; }
      @media (max-width: 960px) {
        #header .container nav a {
          display: block;
          padding: 20px;
          border-bottom: 1px solid #eee; } }
    #header .container .hamburger {
      display: none; }
      @media (max-width: 960px) {
        #header .container .hamburger {
          display: block;
          position: relative;
          width: 24px;
          height: 20px;
          border-top: 2px solid #4c5b61;
          border-bottom: 2px solid #4c5b61; }
          #header .container .hamburger::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #4c5b61;
            position: absolute;
            top: 7px; } }
  #header.nav-open .container nav {
    display: block; }

/* Page Header ----------- */
#main .section.page-header {
  background-image: url("../img/W_triangle_white-reduced.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding: 40px 0; }
  #main .section.page-header .container {
    background: rgba(0, 0, 0, 0.33);
    text-align: center;
    padding: 30px 20px;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto; }
    @media (max-width: 960px) {
      #main .section.page-header .container {
        width: 100%;
        padding: 10px; } }
#main .section.page-sub-header {
  width: 100%;
  max-width: 100%;
  background: #eee;
  -webkit-box-shadow: inset 0px 0px 23px -4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 23px -4px rgba(0, 0, 0, 0.3); }
  #main .section.page-sub-header .container {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 960px) {
      #main .section.page-sub-header .container {
        width: 100%;
        padding: 10px; } }
    @media (max-width: 640px) {
      #main .section.page-sub-header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #main .section.page-sub-header .container > div {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    #main .section.page-sub-header .container p {
      margin-bottom: 0.25em; }
    #main .section.page-sub-header .container a.button {
      display: block;
      background: transparent;
      color: #666;
      border: 2px solid #666;
      border-radius: 3px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-size: 1.5em;
      padding: 10px 20px;
      margin-top: 1em;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #main .section.page-sub-header .container a.button:hover {
        color: #eee;
        background: #666; }

/* Tab Styles ------------ */
.tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto; }
  @media (max-width: 640px) {
    .tab-container {
      width: 100%; } }
  .tab-container .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #4c5b61;
    border: 1px solid #364044;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    height: 30px;
    padding: 0 20px;
    z-index: 100;
    cursor: pointer; }
  .tab-container .content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
    display: none;
    border: 1px solid #364044;
    border-top: none;
    padding: 30px; }
    @media (max-width: 960px) {
      .tab-container .content {
        overflow-x: scroll;
        padding: 20px; } }
    @media (max-width: 640px) {
      .tab-container .content {
        padding: 10px; } }
    .tab-container .content a {
      font-weight: 700;
      color: #2499b6;
      -webkit-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease; }
      .tab-container .content a:hover {
        opacity: 0.8; }
    .tab-container .content ul li {
      text-align: left;
      padding: 10px 20px;
      border: 1px solid #eee; }
      .tab-container .content ul li:not(:last-child) {
        border-bottom: none; }
      .tab-container .content ul li ul {
        margin: 0 -10px; }
    .tab-container .content table {
      border-spacing: 0;
      border-collapse: collapse;
      min-width: 720px;
      line-height: 1; }
      .tab-container .content table tr td, .tab-container .content table tr th {
        text-align: left;
        padding: 10px 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee; }
      .tab-container .content table tr td:first-child, .tab-container .content table tr th:first-child {
        border-left: 1px solid #eee; }
      .tab-container .content table tr td:last-child, .tab-container .content table tr th:last-child {
        border-right: 1px solid #eee; }
  .tab-container .tab.active {
    background: white;
    color: black; }
  .tab-container .tab.active + .content {
    display: block; }

/*# sourceMappingURL=style.css.map */