/* ---------- Westcap ---------- */

/* Variables ------------ */

/* Colours */
$swatchBackground: rgb(217,228,231);
$swatchText: rgb(87,104,108);

$swatchAccept: rgb(62,187,135);
$swatchPending: rgb(212,174,22);
$swatchCancel: rgb(236,96,68);


/* Imports -------------- */

@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Mixins --------------- */

/* Responsive  */

@mixin desktop {
	@media (min-width: 961px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 640px) {
		@content;
	}
}


/* Typography ----------- */


strong {
  font-weight: 700;
}
em {
  font-style: italic;
}

h1,
h2,
h3 {
  line-height: 1;
}

h2,
h3 {
  color: #333;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 6px 8px rgba(0,0,0,0.5);
  @include mobile {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.25em;
  @include mobile {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.75em;
  @include mobile {
    font-size: 1.25em;
  }
}

/* Extensions ----------- */


/* Global Styling ------- */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  width: 100%;
  flex-grow: 1;
  padding-top: 80px;
  @include tablet {
    padding-top: 50px;
  }
  .section {
    width: 100%;
    padding: 40px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1);
    @include mobile {
      padding: 10px;
    }
    & > h2 {
      width: 80%;
      max-width: 1080px;
      margin: 0 auto 20px;
      @include mobile {
        width: 100%;
        margin: 10px auto 20px;
      }
      &.mbo-1::before {
        content: '';
        background-image: url('../img/Westcap_MBO-I-short-237x142-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
        @include mobile {
          margin-top: -2px;
        }
      }
      &.mbo-2::before {
        content: '';
        background-image: url('../img/Westcap_MBO-II-short-237x142-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
        @include mobile {
          margin-top: -2px;
        }
      }
      &.mbo-3::before {
        content: '';
        background-image: url('../img/Westcap_MBO-III-short-237x142-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 42px;
        height: 25px;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
        @include mobile {
          margin-top: -2px;
        }
      }
    }
  }
}

#footer {
  background: #222;
  color: #666;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px 0;
    height: 100%;
    @include tablet {
      width: 95%;
    }
    @include mobile {
      width: 100%;
      padding: 10px;
    }
  }
}

/* Navigation ------------ */

#header {
  position: fixed;
  height: 80px;
  background: white;
  border-bottom: 1px solid #eee;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  @include tablet {
    height: 50px;
  }
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    @include tablet {
      width: 100%;
      padding: 10px;
    }
    .logo {
      height: 60px;
      width: auto;
      @include tablet {
        height: 40px;
      }
    }
    nav {
      @include tablet {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        background: white;
      }
      a {
        color: #666;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        padding: 10px;
        @include tablet {
          display: block;
          padding: 20px;
          border-bottom: 1px solid #eee;
        }
      }
    }
    .hamburger {
      display: none;
      @include tablet {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        border-top: 2px solid #4c5b61;
        border-bottom: 2px solid #4c5b61;
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background: #4c5b61;
          position: absolute;
          top: 7px;
        }
      }
    }
  }
  &.nav-open {
    .container {
      nav {
        display: block;
      }
    }
  }
}

/* Page Header ----------- */

#main {
  .section.page-header {
    background-image: url('../img/W_triangle_white-reduced.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    padding: 40px 0;
    .container {
      background: rgba(0,0,0,0.33);
      text-align: center;
      padding: 30px 20px;
      width: 80%;
      max-width: 1080px;
      margin: 0 auto;
      @include tablet {
        width: 100%;
        padding: 10px;
      }
    }
  }
  .section.page-sub-header {
    width: 100%;
    max-width: 100%;
    background: #eee;
    box-shadow: inset 0px 0px 23px -4px rgba(0,0,0,0.3);
    .container {
      width: 80%;
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      @include tablet {
        width: 100%;
        padding: 10px;
      }
      @include mobile {
        flex-direction: column;
      }
      & > div {
        flex-basis: 50%;
      }
      p {
        margin-bottom: 0.25em;
      }
      a.button {
        display: block;
        background: transparent;
        color: #666;
        border: 2px solid #666;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 1.5em;
        padding: 10px 20px;
        margin-top: 1em;
        transition: all 0.5s ease;
        &:hover {
          color: #eee;
          background: #666;
        }
      }
    }
  }
}


/* Tab Styles ------------ */

.tab-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  @include mobile {
    width: 100%;
  }
  .tab {
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #4c5b61;
    border: 1px solid darken(#4c5b61, 10%);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    height: 30px;
    padding: 0 20px;
    z-index: 100;
    cursor: pointer;
  }
  .content {
    flex-basis: 100%;
    order: 100;
    display: none;
    border: 1px solid darken(#4c5b61, 10%);
    border-top: none;
    padding: 30px;
    @include tablet {
      overflow-x: scroll;
      padding: 20px;
    }
    @include mobile {
      padding: 10px;
    }
    a {
      font-weight: 700;
      color: rgb(36, 153, 182);
      transition: opacity 0.5s ease;
      &:hover {
        opacity: 0.8;
      }
    }
    ul {
      li {
        text-align: left;
        padding: 10px 20px;
        border: 1px solid #eee;
        &:not(:last-child) {
          border-bottom: none;
        }
        ul {
          margin: 0 -10px;
        }
      }
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
      min-width: 720px;
      line-height: 1;
      tr {
        td, th {
          text-align: left;
          padding: 10px 20px;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
        }
        td:first-child, th:first-child {
          border-left: 1px solid #eee;
        }
        td:last-child, th:last-child {
          border-right: 1px solid #eee;
        }
      }
    }
  }
  .tab.active {
    background: white;
    color: black;
  }
  .tab.active + .content {
    display: block;
  }
}